# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.idea/
*.swp
*.swo
*~
*.pdf
*.xlsx
# Project-specific
Alertas_Gerados/

poppler-windows/

# OS
.DS_Store
Thumbs.db